@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica", "Arial", sans-serif;
	background-color: #eeeeee;
}

img {
	border: 0;
}

div#body {
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	width: 900px;
}

div#logo {
	float: left;
	text-align: center;
}

div#userInfo {
	float: right;
}

div#userInfo span {
	cursor: pointer;
}

div#userInfo span:hover {
	color: #b0b0b0;
}

div#header {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	clear: both;
}

div.error {
	border: 1px solid #ff0000;
	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	background-color: #ffeeee;
	padding: 0em;
	margin: 0.5em;
}

div.notice {
	border: 1px solid #00ff00;
	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	background-color: #eeffee;
	padding: 0.1em;
	margin: 5px;
}

div.title {
	font-style: oblique;
	font-size: 1.1em;
	font-weight: boldest;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0.7em;
	border-bottom: 1px solid black;
}

a:link {
	text-decoration: underline;
	color: #0000aa;
}
a:hover {
	text-decoration: underline;
	color: #0000aa;
}
a:active {
	text-decoration: underline;
	color: #0000aa;
}
a:visited {
	text-decoration: underline;
	color: #0000aa;
}

div.liste table {
	min-width: 200px;
	border-collapse: collapse;
	border: 1px solid black;
	padding: 0.1em;
	margin: 0.2em;
}

div.liste th, div.liste td {
	padding-left: 0.4em;
	padding-right: 0.4em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	border: 1px solid #808080;
}

div.liste thead {
	font-style: italic;
	background-color: #d5d5d5;
}

div.liste tr.odd {
	background-color: #eeeeee;
}

div.liste tr.even {
	background-color: #eeeeee;
}

div.liste tr.odd:hover, div.liste tr.even:hover {
	background-color: #FFFFFF;
	color: #000000;
	cursor: pointer;
}

label.required:after {
    content: " *";
    color: #CC0000;
}

div.field {
	padding: 0.1em;
	margin: 0.2em;
}

div.field label {
	font-style: italic;
	padding: 0.2em;
	width: 10em;
	min-width: 10em;
	display: inline-block;
	vertical-align: top;
}

div.field span {
	display: inline-block;
}

div.field input {
	border: 1px solid #888888;
	padding: 0.2em;
	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
}

div.field input.error {
	border: 1px solid #ff0000;
}

div.field input.fileupload {
	border: none;
}

div.field textarea {
	font-family: inherit;
	font-size: inherit;
	border: 1px solid #888888;
	padding: 0.2em;
	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
}

div.field textarea.error {
	border: 1px solid #ff0000;
}

div.boutons {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	text-align: center;
}

.bouton {
	background-color: #dddddd;
	border: 1px solid grey;
	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	cursor: pointer;
}

.bouton:hover {
	background-color: #ffffff;
}

.menu {
	width: 100%;
	background-color: #404040;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	height: 1.3em;
}

.menu-item {
	cursor: pointer;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	color: #d5d5d5;
}

.menu-item:hover {
	color: #404040;
	background-color: #d5d5d5;
}

.menu-aPropos {
	float: right;
	right: 0;
	margin-top: -0.5em;
}
