{% extends 'PatlenainGasBundle::base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
<i>GAS</i> (pour Gestion d'Association Simple), est un logiciel
de gestion des adhérents d'une association. Simple car <i>GAS</i>
se veut léger, pour couvrir le besoin de base des associations qui
est de gérer la liste des ses adhérents.
<p>
<i>GAS</i> est écrit en PHP, avec le framework <a href="http://symfony.com">
Symfony</a> en version 2.3.
<p>
Le site web du projet est disponible ici : <a href="http://www.legurun.org/projects/gas">
http://www.legurun.org/projects/gas</a>.
<p>
Les sources sont disponibles sur GitHub : <a href="https://github.com/patlenain/gas">
https://github.com/patlenain/gas</a>.
<p>
<i>GAS</i> est disponible sous la licence <a href="http://www.gnu.org/licenses/gpl-3.0.html">
GNU General Public License version 3</a> ou ultérieur (GPLv3+).
{% endblock body %}
