{% extends 'PatlenainGasBundle::base.html.twig' %}

{% block title %}{% trans %}patlenain_gas.logout.title{% endtrans %}{% endblock %}

{% block body %}
<div id="logout">
	{% trans %}patlenain_gas.logout.logout{% endtrans %}
</div>
{% endblock %}
