#!/bin/sh

set -e

. /usr/share/debconf/confmodule

db_input high gas-webapp/association || true
db_go || true

if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
        dbc_dbtypes="mysql"
        dbc_authmethod_user="password"
        . /usr/share/dbconfig-common/dpkg/config 
        dbc_go gas-webapp $@
fi

